# --- Môi trường ảo (Virtual Environments) ---
.venv/
venv/
ENV/
env/

# --- Bộ nhớ đệm Python ---
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Dữ liệu cục bộ & Tài liệu phát sinh khi chạy (Bắt buộc ẩn) ---
# Ẩn toàn bộ thư mục data và các tệp báo cáo, bản in, ảnh QR/Barcode sinh ra
data/
src/data/
*.db
*.sqlite
*.csv
*.xlsx
*.png
*.pdf

# --- Các thư mục không cần ---
src/tools/

# --- Các file cấu hình của IDE (PyCharm, VS Code) ---
.idea/
.vscode/

# --- File sinh ra khi đóng gói PyInstaller ---
build/
dist/
*.spec